---

---
<header>
  <div class="header-main">
    <div class="title-section content">
      <h1>Jeff Caldwell</h1>
      <h2>Multimedia Journalist</h2>
    </div>
    <div class="info-section side">
        <p>347-278-5088</p>
        <p>nemo.omen@gmail.com</p>
        <p class="site-link">http://jeffcaldwell.news</p>
        <p>2229 Coleman St</p>
        <p>San Angelo, TX, 76901</p>
    </div>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/work">My Work</a>
  </nav>
</header>

<style>
    header {
        padding: 4rem 4rem 0 4rem;
        margin: 0 auto;
        /* border-bottom: 2px solid var(--primary); */
    }
    .header-main {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0;
      gap: 2rem;
    }

    nav {
      display: flex;
      justify-content: center;
      gap: max(4rem, 30ch);
      border-top: 1px solid var(--primary);
      border-bottom: 1px solid var(--primary);
      padding: 0.5rem;
      margin-top: 1rem;
    }
    
    h1 {
      font-weight: 600;
      letter-spacing: 0.125em;
    }

    h2 {
      font-weight: 500;
      letter-spacing: 0.125em;
      margin-top: 0.5rem;
    }

    .info-section p {
      line-height: 1.4;
      letter-spacing: 0.075em;
    }

    .site-link {
      display: none;
    }

    @media screen and (min-width: 1024px) {
      header {
        max-width: min(100%, 70rem);
      }
    }

    @media print {
      header {
        min-width: 100%;
        padding: 0;
      }

      .site-link {
        display: inline;
      }

      nav {
        display: none;
      }
    }
  </style>